@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
.bg {
  position: absolute;
  z-index: -2;
  filter: blur(0px);
} 
.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  color: #000000a6;
}
.remove-load-text {
  top: 5%;
}
.page-title {
display: flex;
justify-content: center;
padding: 50px;
align-items: center;
}
.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  width: 100%;
  height: 700px;
  padding: 50px;
  align-items: center;
}
.container ul li {
  width: 25%;
  margin: 20px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 25px;
  width: 100%;
  height: 200px;
  margin: 20px;
  padding: 0;
  transition: 0.5s  ease-out;
}
.card:hover {
  background-color: rgba(236, 235, 235, 0.459);
  box-shadow: rgba(0, 0, 0, 0.514) 1.95px 1.95px 2.6px;
  transform: scale(1.1);
  transition: 0.5s ease-in;
}
.img-card {
width: 100%;
}
img {
  border-radius: 25px 25px 0 0 ;
  width: 100%;
  height: 150px;
}
a {

  color: black;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

a h3 {
  margin-top: 15px;
}


.hidden {
  display: none;
}

.pagination-container {
  margin: -10px 0 100px 0;
  display: flex;
}


.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  bottom: 5%;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #00000079;
}

.pagination-number.active {
  color: #fff;
  background: #000000;
}