@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(161, 100, 223);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}


.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.7s ease-in-out;
  max-width: 90px;
  height: 70px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.home-page:hover {
  background-color: rgb(253, 253, 253);
  box-shadow: rgba(0, 0, 0, 0.856) 1.95px 1.95px 2.6px;
  transition: 0.7s ease-in;
}
.home-page a {
  color: black;
  text-decoration: none;
}
.home-page a:hover {
  color: rgb(78, 77, 77);
}

.btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
.btn:focus {
  outline: none;
}