@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background-rgb: 29 30 34;
  
  --blue-rgb: 33 150 243;
  --primary-rgb: var(--blue-rgb);
  
  --color-1: rgb(var(--blue-rgb));
  --color-2: dodgerblue;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
.bg {
  position: absolute;
  z-index: -2;
  filter: blur(0px);
} 
.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  color: #000000a6;
}
.remove-load-text {
  top: 5%;
}
.page-title {
display: flex;
justify-content: center;
padding: 0px 0 0 0;
margin: 50px 0 50px 0;
align-items: center;
}
.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
position: relative;
}
.container ul {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  width: 100%;
  height: 700px;
  padding: 10px 0 0px;
  align-items: center;
}
.container ul li {
  width: 25%;
  margin: 20px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 25px;
  width: 100%;
  height: 200px;
  margin: 20px;
  padding: 0;
  transition: 0.5s  ease-out;
}
.card:hover {
  background-color: rgba(236, 235, 235, 0.459);
  box-shadow: rgba(0, 0, 0, 0.514) 1.95px 1.95px 2.6px;
  transform: scale(1.1);
  transition: 0.5s ease-in;
}
.img-card {
width: 100%;
}
img {
  border-radius: 25px 25px 0 0 ;
  width: 100%;
  height: 150px;
}
a {

  color: black;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

a h3 {
  margin-top: 15px;
}


.hidden {
  display: none;
}

.pagination-container {
  /* margin: -10px 0 100px 0; */
  display: flex;
  position: absolute;
  /* bottom: -15px; */
  /* width: 300px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between; */
  top: -15px;
}


.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 35px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 50%;
  /* padding: 0 15px; */
  bottom: 5%;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #00000079;
  color: #fff;
}

.pagination-number.active {
  color: #fff;
  background: #000000;
}
/* #pagination-numbers {
  overflow: hidden;
  width: 135px;
  height: 50px;
  display: flex;
  position: absolute;
  left: 50%;
  align-items: center;
  transform: translateX(-50%);
} */
/* .pagination-number {
  position: relative;
  left: -105%;
  transform: translateX(-50%);
} */
        
.trapezoid {
  height: 0;
  width: 100%;
  border-top: 100px solid #32557f8a;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: relative;
  top: 0;
}
.trapezoid:after
/* .trapezoid:before*/ { 
  content: "";
  height: 5px;
  position: absolute;
  z-index: 4;
  left: 50%;
  translate: -50% 0%;
  background-color: rgb(0, 0, 0);
  transition: all 0.7s ease-in-out;
}
.trapezoid:before {
  width: 15%;
  top: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.trapezoid:after {
  width: 25%;
  bottom: 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.trapezoid ul {
  list-style: none;
  position: absolute;
  top: 20px;
  left: 50%;

}


@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  
  to {
    background-position: 0% -100%;
  }
}

.screen-overlay {    
  background: linear-gradient(
    rgb(var(--primary-rgb) / 0.15),
    rgb(var(--primary-rgb) / 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  animation: pan-overlay 22s infinite linear;
  position: absolute;
  z-index: 20;
  left: 0px;
  top: 0px;
}