@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #8e44ad;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.7s ease-in-out;
  max-width: 90px;
  height: 70px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.home-page:hover {
  background-color: rgba(253, 253, 253, 0.548);
  box-shadow: rgba(0, 0, 0, 0.514) 1.95px 1.95px 2.6px;
  transition: 0.7s ease-in;
}
.home-page a {
  color: black;
  text-decoration: none;
}
.home-page a:hover {
  color: rgb(78, 77, 77);
}
